/* * {
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
} */
    
.inicio {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../image/fondo.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.inicio .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}

.info {
    padding: 25px;
    padding-bottom: 130px;
}

.info h1 {
    font-size: 3rem;
    letter-spacing: 5px;
    color: #fff;
}

.info h2 {
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}

.foto {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foto img {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    image-rendering: optimizequality;
}

@media (max-width: 768px) {
    .foto img {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin: auto;
    }
}

/* sobre mi */
.sobremi {
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}

.sobremi .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.sobremi .contenido-seccion h3 {
    text-transform: uppercase;
    font-size: 30px;
}

.sobremi .contenido-seccion .especial {
    color: #08090a;
    font-weight: bold;
    margin-top: 15px;
}

.sobremi .contenido-seccion p {
    max-width: 700px;
    margin: auto;
    color: #08090a;
}

.sobremi .contenido-seccion .fila {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    border-radius: 10px;
}

.sobremi .contenido-seccion .fila .col {
    width: 30%;
    margin: 6px;
}

.miperfil {
    text-align: justify;
}

.sobremi .contenido-seccion .fila .col span {
    display: block;
    font-weight: bold;
    margin: 8px 0;
    color: #08090a;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}